<mat-tab-group animationDuration="1000ms" >
  <mat-tab>
    <ng-template mat-tab-label>
      <h5 >{{"WOMANMINISTRY"| translate}}  </h5>
    </ng-template>
   
    <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
      <div>
          <p style="text-align: justify;">
            {{"WOMANMINISTRYTXT"| translate}} 
            
           
          </p>
        </div>
    <div>
      
      <div class="container px-3 py-1" id="custom-cards" 
 style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
   <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w1.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div> 
    
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w2.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w4.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div>
    
    
       
     </div>
   </div>

   <div class="container px-3 py-1" id="custom-cards" 
 style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
   <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w5.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div> 
    
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w8.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
          <img src="/assets/images/w6.jpg" class="zoom" style="width: 100%;">
        </div>
      </div>
    </div>
    
    
       
     </div>
   </div>







      
      
      <!-- <img src="/assets/images/w1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 1%;">
      <img src="/assets/images/w2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/w4.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/w5.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/w6.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/w8.jpg" class="zoom" style=" width:  27%; padding-left: 5px;"> -->
    </div>
</div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h5>{{"CAMPMINISTRY"| translate}} </h5>
    </ng-template>
   
    <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
      <div>
        <p style="text-align: justify;">
            {{"CAMPMINISTRYTXT"| translate}}<br>
            {{"CAMPMINISTRYTXT1"| translate}}
          </p>
        </div>


 
        <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/1.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/2.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/3.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           
           
              
            </div>
          </div>
       
          <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/4.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/5.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/6.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           </div></div>

    <!-- <div>
      <img src="/assets/images/camp/1.jpeg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/camp/6.jpeg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/camp/2.jpeg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/camp/3.jpeg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/camp/5.jpeg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/camp/4.jpeg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div> -->
  </div>
  </mat-tab>



  <mat-tab>
    <ng-template mat-tab-label>
      <h5>{{"Baptism"| translate}} </h5>
    </ng-template>
   
    <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
      <!-- <div>
          <p>
            {{"Baptism"| translate}}<br>
            {{"Baptism"| translate}}
          </p>
        </div> -->


<!--  
        <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/1.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/2.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/3.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           
           
              
            </div>
          </div>
        -->
          <!-- <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/4.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/5.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/camp/6.jpeg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           </div></div> -->

    
  </div>
  </mat-tab>




  <mat-tab>
    <ng-template mat-tab-label>
      <h5>{{"KFC"| translate}}  </h5>
    </ng-template>
    
    <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
      <div>
        <p style="text-align: justify;">
            {{"KFCTXT"| translate}} 
            
           
          </p>
        </div>

        <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/1.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/2.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/3.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           
           
              
            </div>
          </div>
       
          <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/4.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/5.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/kfc/6.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           </div></div>
      
        
    <!-- <div>
      <img src="/assets/images/kfc/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/kfc/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/kfc/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/kfc/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/kfc/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/kfc/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div> -->
  </div>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <h5>{{"CHOIRMINISTRY"| translate}} </h5>
    </ng-template>
    
    <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
      <div>
        <p style="text-align: justify;">{{"CHOIRMINISTRYTXT"| translate}}     </p>
        </div>


        <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/1.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/2.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/3.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           
           
              
            </div>
          </div>
       
          <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/4.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/5.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/choir/6.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           </div></div>



    <!-- <div>
      <img src="/assets/images/choir/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/choir/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/choir/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/choir/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/choir/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/choir/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div> -->
  </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <h5>{{"BIBLECOLLEAGE"| translate}}  </h5>
    </ng-template>
    
        <div  style=" background-image: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div>
            <p style="text-align: justify;">{{"BIBLECOLLEAGETXT"| translate}} 
           
            </p>
           
        </div>



        <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/1.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/2.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/3.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           
           
              
            </div>
          </div>
       
          <div class="container px-3 py-1" id="custom-cards" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/4.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div> 
           
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/5.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           <div class="col">
             <div class="card card-cover h-100  overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 p-1 pb-1 text-white text-shadow-1">
                 <img src="/assets/images/bc/6.jpg" class="zoom" style="width: 100%;">
               </div>
             </div>
           </div>
           </div></div>


    <!-- <div >
      <img src="/assets/images/bc/1.jpg" class="zoom"
        style=" width: 27%; padding-left: 5px; margin-left: 10%; margin-top: 3%;">
      <img src="/assets/images/bc/2.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/bc/3.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">
      <img src="/assets/images/bc/4.jpg" class="zoom" style=" width: 27%; padding-left: 5px; margin-left: 10%; ">
      <img src="/assets/images/bc/5.jpg" class="zoom" style=" width: 27%; padding-left: 5px;">
      <img src="/assets/images/bc/6.jpg" class="zoom" style=" width:  27%; padding-left: 5px;">

    </div> -->
  </div>
  </mat-tab>

  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <h5>Photos</h5>
    </ng-template>
    <section class="gallery" style="margin-left: 25%; margin-top: 2%; ">
      <div class="container">
        <div class="img-container">
          <img src="/assets/images/gallery.jpg" alt="imgage1" id="preview">
          <div class="img-prev text-center">
            <div class="img-slide active">
              <img src="assets/images/gallery.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/prayer.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/sermons.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/contact.jpg" alt="image2" appGallary>
            </div>
            <div class="img-slide">
              <img src="assets/images/download.jpg" alt="image2" appGallary>
            </div>
          </div>
        </div>
      </div>
    </section>


  </mat-tab> -->

</mat-tab-group>