<div   style="background-color: #1B4F72; ">
  <footer class="py-5">
    <div class="row">
      <div class="col-md-5 offset-md-1 mb-3">
          <img src="/assets/images/church.jpeg"  style="width:90%;height:100%; " >
      </div>
    
      <div class="col-6 col-md-4 mb-3" style="color: white;">
        <h5>{{ "FOOTER_LINE" | translate }}</h5>
        <ul class="nav flex-column">

          <li class="nav-item mb-2" >{{ "FOOTER_LINE1" | translate }}</li>
          <li class="nav-item mb-2">{{ "FOOTER_LINE2" | translate }}</li>
          <li class="nav-item mb-2">{{ "FOOTER_LINE3" | translate }}</li>
          <li class="nav-item mb-2" >{{ "FOOTER_LINE4" | translate }}</li>
          <li class="nav-item mb-2">{{ "FOOTER_LINE5" | translate }}</li>
          <li class="nav-item mb-2" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
              <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
              <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>+971 509083780</li>
            <li class="nav-item mb-2" >  abudhabiutgc@gmail.com </li>
        <li>Follow Us
          <a class="zoom" href="https://www.facebook.com/profile.php?id=100063552813759" 
          target="_blank">
          <img src="/assets/images/fbook.jpg" 
          style="width:10%; height: 10%; "></a>
          &nbsp;&nbsp;&nbsp;
          <a  class="zoom" href="https://www.youtube.com/@ABUDHABITELUGUCHURCHUTGC/streams" 
          target="_blank"><img src="/assets/images/youtube.jpg" 
          style="width:10%; height: 10%; "></a>
      </li>
          </ul>
      
      </div>
       
      
      
     
      
      <div class="col-6 col-md-2 mb-3">
        
        <ul class="nav flex-column" >
          <li class="nav-item mb-2" ><a  class="mhover" mat-button  (click)="homepage()"><p  style="color: white;">{{"Home"| translate}}</p></a></li>
          <li class="nav-item mb-2"><a   class="mhover" mat-button (click)="aboutus()"><p style="color: white;">{{"about"| translate}}</p></a> </li>
          <li class="nav-item mb-2"><a  class="mhover" mat-button (click)="gallery()" ><p  style="color: white;">{{"gallery"| translate}}</p></a> </li>
          <li class="nav-item mb-2"> <a class="mhover" mat-button (click)="contactus()" ><p  style="color: white;">{{"contact"| translate}}</p></a> </li>
          <li class="nav-item mb-2"><a  class="mhover" mat-button (click)="boteng()" ><p  style="color: white;">{{"Bot"| translate}}</p></a> </li>
        </ul>
        <img src="/assets/images/31years.png"  style="width: 80%;"/>
      </div>

   

      
    </div>

    
  </footer>
</div>
