<div class="bgcolor" >
<div id="gradient">
      Board of Trustees
</div>

<div class="container px-6 py-1" id="custom-cards" 
  style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">
    <div class="row row-cols-1 row-cols-lg-6 align-items-stretch g-4 py-3">
      <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
            <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Wiclief.jpeg"   style="width:100%;height:100% " >
                <h5>John Wiclief Dondapati</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
            style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
              <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/James.jpg"  style="width:100%;height:100% " >
                <h5> James Pidakala</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
            style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
              <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Sathish.jpeg"  style="width:100%;height:100% " >
                <h5>Sathish Karanam</h5>
              </div>
            </div>
          </div>
          <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
            <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Shyam.jpeg"  style="width:100%;height:100% " >
                <h5>Sam <br>Dasari</h5>
            </div>
          </div>
        </div>
      <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
            <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
                <img src="/assets/images/Bot/David.jpeg"  style="width:100%;height:100% " >
                <h5>David <br>Murala</h5>
              </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
            <div class="d-flex flex-column h-50 p-1 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Rapaka_Raju.jpeg"  style="width:100%;height:100% " >
                <h5>Raju <br>Rapaka</h5>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div class="container px-6 py-1" id="custom-cards" 
  style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); 
  border:blank; margin-left: 10%;">
    <div class="row row-cols-1 row-cols-lg-6 align-items-stretch g-4 py-3">
      <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
            <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Kishore.jpeg"   style="width:100%;height:100% " >
                <h5>Kishore <br>Torlapati</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
            style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
              <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Naresh.jpeg"  style="width:100%;height:100% " >
                <h5> Naresh<br> Vadlakonda</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
            style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
              <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Krishna_Joseph.jpeg"  style="width:100%;height:100% " >
                <h5 style="font-size: 19px;">Krishna Joseph Bunga</h5>
              </div>
            </div>
          </div>
          <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
            <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
                <img src="/assets/images/Bot/Edward.jpeg"  style="width:100%;height:100% " >
                <h5>Edward<br>&nbsp; </h5>
            </div>
          </div>
        </div>
      <div class="col">
          <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
            <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
                <img src="/assets/images/Bot/Ravi.jpeg"  style="width:100%;height:100% " >
                <h5>Ravi<br> Tadi</h5>
              </div>
          </div>
        </div>
     </div>
    </div>
    <app-footer></app-footer>  
</div>
 
   
    