
<div style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;" >

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5"  style="background-image: linear-gradient(to left, #000066 0%, #cc00cc 100%);">
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3"
         width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
       
         <div>
          
            <div class="zoom"  >
                <div class="shadowBox"  >
                     <div class="card" id="myDIV" style="background-color:#4682B4;">
                    
                         <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
                        <div class="container"  >
                           <h2 class="txtcenter" style="color: red;" >   {{"ABOUTUS"| translate}}</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
          
        </div>
      </div>
      
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
        <div>
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card" id="myDIV" style="background-color: #FFA500;">
                         <img src="/assets/images/contact.jpg"  style="width:100%;height:100% " >
                        <div class="container">
                           <h2 class="txtcenter" >   {{"CONTACTUS"| translate}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
          <use xlink:href="#home"></use></svg>
        <div>
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card" id="myDIV" style="background-color: #2ECC71;">
                         <img src="/assets/images/sermons.jpg"  style="width:100%;height:100% " >
                        <div class="container">
                           <h2 class="txtcenter" >{{"SERMONS"| translate}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"></use></svg>
        <div>
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card" id="myDIV" style="background-color: #FF1493;">
                         <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% " >
                        <div class="container">
                           <h2 class="txtcenter" >{{"GALLERY"| translate}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#speedometer2"></use></svg>
        <div>
            <div class="zoom">
                <div class="shadowBox">
                    <div class="card" id="myDIV" style="background-color:#4682B4;">
                         <img src="/assets/images/gallery.jpg" 
                          [routerLink]="['/gallery']" style="width:100%;height:100% ">
                        <div class="container">
                           <h2 class="txtcenter" >{{"ABOUTUS"| translate}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
           
    </div>
  </div>
  


<!-- <div class="bottom-left" 
        style="background-image: linear-gradient(to left, #000066 0%, #cc00cc 100%);"> -->
            <!-- <div class="column"  >
                <div class="zoom"  >
                    <div class="shadowBox"  >
                        <div id="myDIV"  style="background-color: #4682B4;">
                        <div class="card"  >
                             <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
                            <div class="container"  >
                               <h2 class="txtcenter" >   {{"ABOUTUS"| translate}}</h2>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FFA500;">
                             <img src="/assets/images/contact.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >   {{"CONTACTUS"| translate}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #2ECC71;">
                             <img src="/assets/images/sermons.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >{{"SERMONS"| translate}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FF1493;">
                             <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >{{"GALLERY"| translate}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #1E90FF;">
                             <img src="/assets/images/prayer.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >{{"PRAYERREQUEST"| translate}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
           
               <!-- <app-footer></app-footer> -->
    <!-- </div> -->
    <!--  -->