
<div   style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-0 py-0">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark  shadow-lg"  style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
        <div class="d-flex flex-column h-100 p-2 pb-3 text-white text-shadow-1" style="text-align: center;font-size: 22px; ">
          <b><p style="font-size: 30px;"> {{"chaper"| translate}}</p>
                      "{{"chaperinfo"| translate}}".<br></b>  
          <!-- <b>{{"weclomecontent_1"| translate}}</b> -->
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark  shadow-lg"style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
        <div class="d-flex flex-column h-100 p-2 pb-1 text-white text-shadow-1">
      
    <img  class="center-block" src="/assets/images/31years.png"  style="width: 50%; height:90%;" />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark  shadow-lg" style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
        <div class="d-flex flex-column h-100 p-2 pb-3 text-shadow-1" >
          <b><p style="text-align: center;">{{"weclomecontent_1"| translate}}<br>
            {{"weclomecontent_3"| translate}}</p></b>
     <br> 
     <p style="text-align: justify;"> {{"weclomecontent_2"| translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">
  <div class="container px-4 py-3" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 y-5" style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">
      <div class="col" >
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-50 p-5 pb-3 text-white text-shadow-1">
            <br><br>
            <img src="/assets/images/logo1.jpg"  style="width: 100%;  "/>
           
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div id="gradient">
              <p><b>
                {{"SERVICETIMINGS"| translate}}
              </b></p></div><BR>


<p > 
  <mat-accordion  style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title >
  <p style="font-size: 14px;">{{"SUNDAYWORSHIP"| translate}} </p>
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"COMMUNION"| translate}}</p>
<p style="font-size: 14px;"><B> {{"TRANSPORT_CONTENT"| translate}}</B></p>
<p style="font-size: 14px;">{{"ROOT1"| translate}}</p>
<p style="font-size: 14px;"> {{"ROOT2"| translate}}</p>
<p style="font-size: 14px;"> {{"ROOT3"| translate}}</p>
<p style="font-size: 14px;">{{"ROOT4"| translate}}</p>
<p style="font-size: 14px;"> {{"ROOT5"| translate}}</p>
<p style="font-size: 14px;">{{"ROOT6"| translate}}</p>

</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;"> {{"FASTINGPRAYER"| translate}}
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"FASTINGPRAYER_CONTENT"| translate}}   </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;">{{"WOMANSPRAYERMEETING"| translate}}</p>
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"WOMANSPRAYERMEETING_CONTENT"| translate}}   </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;">{{"MENSPRAYERMEETING"| translate}}
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"MENSPRAYERMEETING_CONTENT"| translate}}   </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;">{{"ALLNIGHTPRAYER"| translate}}</p>
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"ALLNIGHTPRAYER_CONTENT"| translate}}   </p>
</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;"> {{"KIDSMINISTRY"| translate}}</p>
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"KIDSMINISTRY_CONTENT"| translate}}   </p>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <p style="font-size: 14px;">{{"CAMP"| translate}}</p>
</mat-panel-title>
</mat-expansion-panel-header>
<p style="font-size: 14px;"> {{"CAMP_CONTENT"| translate}}   </p>
</mat-expansion-panel>




</mat-accordion>  </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <img  src=" /assets/images/pastor.jpg"> 
            <p style="font-size: small; text-align: center;"><b><br>
              {{"PASTOR"| translate}}
              <br>
                {{"EDUCATION"| translate}}<br>
                {{"PASTORAMMA"| translate}}<br>
                {{"PASTORAMMAEDUCATION"| translate}}
              </b></p> 
                <p style="font-size: small; text-align:center">
                 {{"ABOUTPASTOR"| translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>






  
<div class="container px-3 py-1" id="custom-cards" 
style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
  <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-3">
    <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div id="myDIV" style="background-color: #4682B4;">
            <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% ;cursor: pointer; " >
            <h4 class="txtcenter" >   {{"ABOUTUS"| translate}}</h4>
        </div>
        </div>
    </div>
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #FFA500;">
            <img src="/assets/images/contact.jpg"  [routerLink]="['/contactus']" style="width:100%;height:100% ;cursor: pointer; " >
            <h4 class="txtcenter" style="font-size: 22px;" >   {{"CONTACTUS"| translate}}</h4>
        </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #2ECC71;">
            <!-- <img src="/assets/images/sermons.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
             -->
             <img src="/assets/images/sermons.jpg"  style="width:100%;height:100%  " >
            <h4 class="txtcenter" >{{"SERMONS"| translate}}</h4>
        </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #FF1493;">
            <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% ;cursor: pointer; " >
            <h4 class="txtcenter" >{{"GALLERY"| translate}}</h4>
            </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-50 p-1 pb-1 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #1E90FF;">
            <img src="/assets/images/prayer.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% ;" >
            <h4 class="txtcenter" style="font-size: 22px;" >{{"PRAYERREQUEST"| translate}}</h4>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- <div class="row" style=" border:12px">
    <div class="col-4"><img src="/assets/images/churchhome.jpg"  class="center-block" style="width: 50%;"></div>
    <div class="col-8"><p style="color: white;"> {{"GROW_CHAPETER"| translate}}<BR>
      "{{"GROW_TXT"| translate}}".</p></div>
  </div> -->



  <div class="col-md-12">
    <div class="row g-0  rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-260 position-relative">
      <div class="col-auto d-none d-lg-block">
        
         <img src="/assets/images/churchhome.jpg"  class="center-block" style="width: 50%;">
      </div>
      <div class="col p-1 d-flex flex-column position-static">
         <p style="color: white; text-align: center;"><b> {{"GROW_CHAPETER"| translate}}<BR>
          "{{"GROW_TXT"| translate}}".</b> 
         
               
                <!-- <a [routerLink]="['/aboutus']" ariaCurrentWhenActive="page" routerLinkActive="active" >dssdsds</a> -->
            <!-- <a  style="color: aquamarine;" mat-button (click)="aboutus()"> read more</a>  -->
         
          </p>
        
      </div>
      
    </div>
  </div> 

  <app-footer></app-footer>
</div>








    
  
