<div
style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">

<div class="container px-3 py-1" id="custom-cards" 
style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); border:blank;">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    <div class="col">
        <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" 
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); ">
          <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
           <img src="/assets/images/logo.jpg" />
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div id="gradient">
              <p><b>Service Timings</b></p></div><br>
              <p> {{"SUNDAYWORSHIP"| translate}}<br>{{"COMMUNION"| translate}}</p>
              <p> {{"FASTINGPRAYER"| translate}}</p>
              <p> {{"WOMANSPRAYERMEETING"| translate}}</p>
              <p> {{"MENSPRAYERMEETING"| translate}} </p>
              <p> {{"ALLNIGHTPRAYER"| translate}}</p>
              <p style="padding-bottom: 0px;">  {{"KIDSMINISTRY"| translate}}</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-70 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-50 p-1 pb-1 text-white text-shadow-1">
            <img  src=" /assets/images/pastor.jpg"> 
            <p>{{"PASTOR"| translate}}
                {{"EDUCATION"| translate}}<br>
                {{"PASTORAMMA"| translate}}
                {{"PASTORAMMAEDUCATION"| translate}}</p> 
                <p style="font-size: small;">
                 {{"ABOUTPASTOR"| translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
<div class="container px-3 py-1" id="custom-cards" 
style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
  <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-3">
    <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg">
         <div class="d-flex flex-column h-0 p-2 pb-1 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div id="myDIV" style="background-color: #4682B4;">
            <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
            <h4 class="txtcenter" >   {{"ABOUTUS"| translate}}</h4>
        </div>
        </div>
    </div>
          </div>
        </div>
      </div>
    <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #FFA500;">
            <img src="/assets/images/contact.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
            <h4 class="txtcenter" style="font-size: 22px;" >   {{"CONTACTUS"| translate}}</h4>
        </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #2ECC71;">
            <img src="/assets/images/sermons.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
            <h4 class="txtcenter" >{{"SERMONS"| translate}}</h4>
        </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%);">
          <div class="d-flex flex-column h-100 p-2 pb-2 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #FF1493;">
            <img src="/assets/images/gallery.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
            <h4 class="txtcenter" >{{"GALLERY"| translate}}</h4>
            </div>
        </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card card-cover h-30 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-50 p-1 pb-1 text-white text-shadow-1">
            <div class="zoom">
            <div class="shadowBox">
            <div class="card" id="myDIV" style="background-color: #1E90FF;">
            <img src="/assets/images/prayer.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
            <h4 class="txtcenter" style="font-size: 22px;" >{{"PRAYERREQUEST"| translate}}</h4>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" >
    <div >
      <div class="col p-4 d-flex flex-column position-static">
        <p class="para"> Welcome to the United Telugu Gospel Church(UTGC) of Abu Dhabi,  
          At UTGC our Mission is to be and make authentic followers of Jesus Christ- to worship God passionately, 
          to preach and teach His word faithfully, and to server others in love, as we share His Gospel through out the world.
          <b> We invite you to join  us.</b>
         </p>
         
      </div>
    </div>
  </div>





  <div class="col-md-12">
    <div class="row g-0  rounded overflow-hidden flex-md-row mb-2 shadow-sm h-md-260 position-relative">
      <div class="col-auto d-none d-lg-block">
        
         <img src="/assets/images/churchhome.jpg" >
      </div>
      <div class="col p-1 d-flex flex-column position-static">
         <p style="color: white;">
          At UTGC we remember and honor the days of old and consider the many people that laid the ground work for our mission and purpose today.
            Take a look at out history and you will see how our past inspires our future. Unfold to the untold and the will of god at any cost was the
             driving force behind the formation of UTGC on 1991.
            Brother K.P. Raju and brother Nalli Prabu Manohar families started the prayers and let the
             congregation with submission and sacrifices’ in their homes to praise God and to preach word 
             of God in English and Telugu . Brother Bayya Christopher was the pastor. Under the leadership
              of pastor at that time the congregation increases to 100’s.  Then the church moves to the
               “The Evangelical compound”. First the prayer started in upper chapel 1 and it move to main
                hall 1....
                
                <!-- <a [routerLink]="['/aboutus']" ariaCurrentWhenActive="page" routerLinkActive="active" >dssdsds</a> -->
            <a  style="color: aquamarine;" mat-button (click)="aboutus()"> read more</a> 
         
         </p>
        
      </div>
      
    </div>
  </div>

  <app-footer></app-footer>
</div>








    
  
