<div ><mat-grid-list cols="3" rowHeight="260px" gutterSize="0px" 
    style="background: linear-gradient(to right, #000066 0%, #cc00cc 100%); " >
    <mat-grid-tile style=" border: '0px double red'"><img class="img-size"
         src="/assets/images/logo.jpg" style="width:95%;height:100% ">
     </mat-grid-tile>
    <mat-grid-tile style=" border: '0px double green' " > 
     <mat-list  >
        <div id="gradient">
            Service Timings
          </div>
        
        <mat-list-item  style="height: 40px;" ><span class="color1" >
           <b> {{"SUNDAYWORSHIP"| translate}}</b><br>
           {{"COMMUNION"| translate}}
        </span>
         </mat-list-item>
        <mat-list-item style="height: 40px;">
            <span class="color1" >
                 <b> {{"FASTINGPRAYER"| translate}}</b>
                  </span> 
            </mat-list-item>
        <mat-list-item style="height: 40px;">
            <span class="color1"><b> 
                {{"WOMANSPRAYERMEETING"| translate}}</b> <BR>
                <!-- {{"WPMRN"| translate}} -->
            </span>
            </mat-list-item>
        <mat-list-item style="height: 40px;">
            <span class="color1">
                <b> 
                    {{"MENSPRAYERMEETING"| translate}}</b><BR>
                    <!-- {{"MPMRN"| translate}} -->
                </span>
            </mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1">
            <b> 
                {{"ALLNIGHTPRAYER"| translate}}</b></span>
            </mat-list-item>
        <mat-list-item style="height: 40px;"><span class="color1">
            <b>  {{"KIDSMINISTRY"| translate}}</b></span>
        </mat-list-item>
 
    </mat-list>

</mat-grid-tile>
    <mat-grid-tile >
        <div class="color1">
            <br><br><br>
            <img  src=" /assets/images/pastor.jpg" 
            style="width: 230px;height: 150px;   float: left; margin: 3px;">
           <p><B>{{"PASTOR"| translate}}</B><br>
           {{"EDUCATION"| translate}}</p> 
           <p><B>{{"PASTORAMMA"| translate}}</B><br>
           {{"PASTORAMMAEDUCATION"| translate}}</p> 

           <p>
            {{"ABOUTPASTOR"| translate}}
            <!-- Pastor Rev.Sisir Kumar is one of the most famous and 
            influential religious leaders in UAE, and he is also the president  of Telugu 
               Christian congregations Churches. He is working as an pastor in UTGC since from 2010.
               Under his guidence Ministry grown and spread the  Gospel in many camps arround Abudhabi.
                He bought many people under god path. daily he will spread audio message named with  "Yasutho eeroju" 
                around the world dauly. he is runnning a magine Sahavasam. -->
            </p>
               
       </div>

       
    </mat-grid-tile>
    </mat-grid-list>

    
    <app-cards></app-cards>
    <!-- <app-footer></app-footer> -->

</div>


    
<!-- <div class="div1"> -->
     <!-- <div id=slideset1>
        <img class="img-size" src="/assets/images/4.JPG" >
         <img class="img-size" src="/assets/images/6.JPG" >
        <img class="img-size" src="/assets/images/5.JPG" >
        <img class="img-size" src="/assets/images/1.JPG" >
        <img class="img-size" src="/assets/images/7.JPG" >
        </div>  -->
<!--                 
    <div class="bottom-left" 
        style="background-image: linear-gradient(to left, #000066 0%, #cc00cc 100%);">
            <div class="column"  >
                <div class="zoom"  >
                    <div class="shadowBox"  >
                        <div id="myDIV"  style="background-color: #4682B4;">
                        <div class="card"  >
                             <img src="/assets/images/about1.jpg"  [routerLink]="['/aboutus']" style="width:100%;height:100% " >
                            <div class="container"  >
                               <h2 class="txtcenter" >About Us</h2>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FFA500;">
                             <img src="/assets/images/contact.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #2ECC71;">
                             <img src="/assets/images/sermons.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Sermons</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #FF1493;">
                             <img src="/assets/images/gallery.jpg"  [routerLink]="['/gallery']" style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Gallery</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="zoom">
                    <div class="shadowBox">
                        <div class="card" id="myDIV" style="background-color: #1E90FF;">
                             <img src="/assets/images/prayer.jpg"  style="width:100%;height:100% " >
                            <div class="container">
                               <h2 class="txtcenter" >Prayer Request</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    </div>
    <div class="bottom-content" >
        <mat-grid-list cols="6" rowHeight="70px" gutterSize="5px"  style="width: 99.5%;" >
    
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%;">
                Sunday Service
            </mat-grid-tile-header>
            <h5 style="color: #FFCC80;"> Every Sunday 5PM - 7PM</h5>
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    Fasting Prayer
            </mat-grid-tile-header>
            Every Tuesday 8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    Womans Prayer Meeting
            </mat-grid-tile-header>
           Every Friday  8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                   Mens Prayer Meeting
            </mat-grid-tile-header>
            Every Friday  8PM - 10PM
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                    All Night Prayer
            </mat-grid-tile-header>
           3rd Saturday of Every Month 
            </mat-grid-tile>
            <mat-grid-tile style=" border: '1px double white'">
                <mat-grid-tile-header style="height: 30%; ">
                Kids Ministry
            </mat-grid-tile-header>
           Every  Sunday 5PM - 7PM
            </mat-grid-tile>
            </mat-grid-list>





       <p> Welcome to the United Telugu Gospel Church(UTGC) of Abu Dhabi,  
        At UTGC our Mission is to be and make authentic followers of Jesus Christ- to worship God passionately, 
        to preach and teach His word faithfully, and to server others in love, as we share His Gospel through out the world.
        <br> We invite you to join  us.
    
       </p>
        
       
  
    </div>


        
    -->
    <!-- <div class="dev1"> <app-footer></app-footer></div> -->
  
